[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-api = "*"
werkzeug = "2.3.8"
flask-sqlalchemy = "*"
flask-migrate = "*"
pylint = "*"
flask-wtf = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
lint = "pylint *.py -E"
