[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-api = "*"
werkzeug = "2.3.8"
flask-sqlalchemy = "*"
flask-migrate = "*"
pylint = "*"
flask-wtf = "*"
pytest = "*"
flask-jwt-extended = "*"
bcrypt = "*"
flask-login = "*"
pyright = "*"
python-string-utils = "*"
cachetools = "*"
flask-cors = "*"
python-magic = "*"
psycopg2-binary = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
lint = "pylint *.py -E"
typecheck = "pyright"
