h3 {
  margin-top: 1em
}

#execution-name-header {
  margin: 0;
}

.card button {
  border-bottom: 1px #6c757d solid;
  border-radius: 2px 2px 0px 0px;
}

@media screen and (min-width:575px) {

  /* Hide scrollbar for Chrome, Safari and Opera */
  #active-tan-player-table::-webkit-scrollbar {
    display: none
  }

  #active-tam-player-table {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
}

@media screen and (max-width:769px) {

  #btn-activate-icon {
    display: inline !important;
  }

  #btn-activate-text {
    display: none;
  }

  #btn-play-icon {
    display: inline !important;
  }

  #btn-play-text {
    display: none;
  }

  #btn-pause-icon {
    display: inline !important;
  }

  #btn-pause-text {
    display: none;
  }

  #btn-stop-icon {
    display: inline !important;
  }

  #btn-stop-text {
    display: none;
  }
}