@media screen and (max-width: 525px) {
  #logo-container img {
    scale: 0.5;
  }

  #logo-container {
    margin-top: 5rem
  }
}

#logo-container {
  margin-top: 10rem
}

#logo-subtitle {
  font-family: 'Courier New', Courier, monospace;
}